.actions div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.noteList {
  padding: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
} 

.container > * {
  flex: 1 1 33%;
}

/* .container {
  columns: 2;
  column-gap: 10px;
} */

.container li {
  list-style: none;
  padding: 0;
  margin: 0;
}

